[user]
  	name = Wally Jones
	email = wally@wallyjones.com

[push]
	default = simple

[color]
   	ui = true

[color "diff"]
	old = black dim
	new = black bold

[color "status"]
       added = black bold
       deleted = black dim
       changed = black bold

[init]
	defaultBranch = main

[pull]
	rebase = true
